body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
